body{
    background-color: #FAF1E4;
    font-family: 'Merriweather', serif;
}
h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
    
  li {
    display: inline;
  }
  
  p {
      text-align: center;
      font-size: 25px;
      font-family: 'Merriweather', serif;
  }
  
  .actions {
      display: flex;
      justify-content: center;
  }
  
  .actions button {
    background-color: white;
    font-size: 25px;
    border-radius: 8px;
    border-color: #435334;
    height: 50px;
    width: 200px;
    font-family: 'Merriweather', serif;
  }
  
  .actions button:hover {
    background-color:#9EB384;
    transition: 0.7s;
  }
  
  .grid-container {
    display: grid;
    justify-content: center;
    grid-gap: 16px;
    grid-template-columns: repeat(6, 140px);
    grid-template-rows: repeat(2, calc(140px / 2 * 3));
  }
  
  .card {
    height: calc(140px / 2 * 3);
    width: 140px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
  }
  
  .front-image {
    width: 60px;
    height: 60px;
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .front, .back {
      backface-visibility: hidden;
      position: absolute;
      border-radius: 10px;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
  }
  
  .card .front {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card .back {
    background-image: url("../images/backofcard.png");
    background-position: center center;
    background-size: cover;
    backface-visibility: hidden;
  }
  
  .card .front {
    transform: rotateY(180deg);
  }